body {
	width:1000px;
	font-family:verdana;
	font-size:20;
	color:black;
	background-color:FireBrick;
	margin-left:250px;
	margin-top:50px;
}

.banner {
	width:1000px;
	background-color:Maroon;
	color:PapayaWhip;
	font-size:50;
	text-align:center;
	line-height:80px;
	margin-bottom:10px;
	border:10px PapayaWhip double;
}

.middle {
	position:relative;
	width:1000px;
	height:500px;
	margin-bottom:10px;
}

.left-sidebar {
	position:absolute;
	border:5px Salmon solid;
	width:300px;
	height:345px;
	font-size:31;
	background-color:Maroon;
	color:Salmon;
	text-align:center;
	padding-top:150px;
}

.main-content{
	position:absolute;
	width:700px;
	height:495px;
	background-color:Salmon;
	color:Maroon;
	left:310px;
	padding:5px;
}	

.footer {
	position:absolute;
	width:1020px;
	background-color:Maroon;
	color:Salmon;
	text-align:center;
	margin-top:8px;
}

p.small{
	font-size:15px;
}
	